<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <app></app>
    <script>const __root = __dirname</script>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
